.e_d {
    margin-right: 5%;
}
.crear {
    float: right;
    margin-top: 6px;
    margin-right: 34px;
    width: 162px;
    height: 38px;
    text-align: center;
}
.th {
    width: 180px;
}
.mantenedor {
    margin-left: 1%;
    font-size: 30px;
    font-weight: 400;
}
.table .thead-dark th {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.titulo {
    background-color: #17a2b880;
    height: 50px;
    text-align: left;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.control-label {
    margin-top: 10px;
}
.table thead th {
    vertical-align: middle;
}
.table th, .table td {
    padding: .75rem;
    vertical-align: top;
}
.red_border{
    border: 2px solid red;
}